.main__container {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
}
.container1 {
  flex: 0.5;
  
}
.heading {
  font-size: 1.8em;
  margin-left: 45px;
  color: white;
}
.intro {
  font-size: 1.5rem;
  margin-left: 50px;
  padding-right: 20px;
  word-wrap: break-word;
  color: white;
  margin-top: 25px;
}

.button {
  border-color: white;
  margin-left: 5px;
  margin-top: 20px;
  color: white;
  background-color: rgb(6, 6, 6);
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}
.button:active,
.action__button:active {
  cursor: default;
  background-color: white;
  color: black;
  border: none;
  outline: none;
}

.container2 {
  flex: 0.5;
  /* opacity: 0.8; */
  height: 80vh;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 40vw;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}
.image:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .heading {
    font-size: 18px;
  }
  .intro {
    font-size: 18px;
  }
  .button {
    font-size: 18px;
    padding: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .container1 {
    margin-top: 8rem;
    width: 200px;
  }
  .container2 {
    height: 70vh;
  }
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 15px;
  }
  .intro {
    font-size: 18px;
  }
  .button {
    font-size: 12px;
    padding: 5px;
  }
  .container2 {
    margin-top: 5vh;
    flex: 0.4;
    height: 55vh;
  }
}
