.maincontainer {
  display: flex;
  justify-content: space-between;
  color:white;
  font-size: 20px;
  position:sticky;
  top:0;
  z-index:10;
  background-color: black;
  
}
/* ---------------------- */

.container1 {
  
  flex: 0.4;
  align-items: center;
  display:flex;
  
}
.image{
  width:6vw;
  margin-right: -10px;
}
/* --------------------------------- */

.container2 {
  z-index:11;
  flex: 0.25;
  display:flex;
  justify-content: space-between;
  
  
}
.button{
  border:none;
  outline:none;
  color:rgb(205, 197, 197);
  background-color:black;
  font-size: 20px;
  
}
.button:hover{
  cursor:pointer;
}

/* -------------------------- */
.container3 {
  background-color:black;
  flex: 0.4;
  display:flex;
  justify-content:right;
  padding-right:30px;
  padding-top: 15px;
}
@media only screen and (max-width:1000px) {
.container2{
  display:none;
}
.container1>p{
  font-size: 18px;
}
}

@media only screen and (max-width:700px) {
.image{margin-right: 0px;}
}