.nft__information__wrapper {
  background: black;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2vh;
  left: 0;
  /* transition: 300ms all ease-in-out; */
  animation: fadeInDisplay 350ms;

}
.nft__information__content {
  border: 20px;
  height: 70vh;
  width: 30vw;
  box-shadow: 2px 2px 2px 2px white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
  border-radius: 20px;


}

.nft__information__content__image {
  width: 15vw;
  border-radius: 20px;
}
.nft__information__content__name {
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
  
  text-transform: capitalize;

}

.nft__information__content__price {
  font-family: sans-serif;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  
}
.nft__information__content__owner {
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  
}

.nft__information__content__button {
  outline: none;
  border: none;

  border: 1px solid grey;
  background: transparent;
  color: white;

  padding: 10px;
  width: 20vw;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 700;
  text-transform: capitalize;

}
.nft__information__content__button:hover {
  cursor: pointer;
  background: rgb(11, 233, 214);
  color: black;
}
.property{
    margin-right: 20px;
    text-decoration: underline;
    width: 80px;
    
}
.value{
    margin-left: 20px;
    font-weight: 600;
    width: 150px;

}

@keyframes fadeInDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
