
.main{
    background-color:black;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}
.status{
    text-transform: capitalize;
    font-size: 2em;
    margin-bottom: 5hv;
    color: white;
}
.collection_list{
    display:grid;
    list-style: none;
    grid-template-columns: auto auto auto auto;
}
.image{
width:300px;
height:300px;
object-fit: contain;
}

.nft__container{
    color: white;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.image__container{
    margin:25px;

}

.image:hover{
    cursor: pointer;
    transform:scale(1.05) ;
    
}
.image{
    width: 100%;
    height: 200px;
    border-radius: 30px;

    transition:transform 300ms ease-in-out;
}
@media only screen and (max-width:1500px) {
    .collection_list{
        grid-template-columns: auto auto auto  ;
    }
    
}
@media only screen and (max-width:1000px) {
    .collection_list{
        grid-template-columns: auto auto ;
    }
    
}
@media only screen and (max-width:600px) {
    .collection_list{
        grid-template-columns: auto  ;
    }
    
}
